name: Deploy Personal Blog

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build Docker Image
      run: docker build -t personalblog .

    - name: Tag Docker Image
      run: |
        docker tag personalblog:latest ${{ secrets.ECR_REPOSITORY }}:latest

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.ECR_REPOSITORY }}:latest

    - name: Terraform Deploy
      working-directory: terraform
      run: |
        terraform init
        terraform apply -auto-approve
