name: Helm Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: aws/setup-kubectl@v4

      - name: Setup Helm
        uses: aws/setup-helm@v4

      - name: Set kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

      - name: Helm Deploy
        run: |
          helm upgrade --install nginx-dev ./real-nginx -f real-nginx/values-dev.yaml
